/* 초기화 */
* {
	margin: 0px;
	padding: 0px;
}

/* 타이틀 */
.title {
	text-align: center;
	height:100px;
	line-height:100px;
}

/* 메뉴 */
.menu {
	text-align: center;
	background-color: #ff8231;
	padding: 10px 0px;
	width: 100%;
	}

/* 본문 */
.content {
	height: 2000px;
}

/* 고정 */
.fixed {
	position: fixed;
	top: 0px;
}