 /*사이드메뉴*/

 aside {
 position: absolute;
 top:800px;
 left:1%;
  width: 200px;
  height:300px;
  min-height: 200px;
  padding: 35px;
  margin: 0 22px 44px 22px;
  position: absolute;
  top:800px;
  vertical-align: top;
  display: inline-block;
  font-family: Englebert, Arial;
  color: #4b453c;
  background: url(https://i.imgur.com/2BdQt0g.jpg);
  line-height: 34px;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  z-index:1111;
}
.sidefixed {
position: fixed; 
top:70px;
}

/* Note styles */
.note-wrap:before {
  display: block;
  content: "";
  background: rgba(227, 200, 114, 0.4);
  width: 130px;
  height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px/18px 0;
  position: absolute;
  top:-15px;
  left: 30px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.note-wrap a {
 line-height: 2.8em;
  color: #6b824f;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.note-wrap a:hover {
  color: #D83A25;
}
.note {
width:170px;
height:290px;
padding-left:20px;
  background: #F7E999;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

  #in{float:left;
 position:relative;
 top:100px;
 left:700px;
 }

  .listlist{
 position:absolute;
 top:-500px;}

.babo{
position:relative;
left:100px;
top:20%;
margin-right:-80px;
}
 
  
.line{
position:absolute;
left:150px;
 width:155px;
 height:1400px;
 border-right:solid 1.5px black;
 }


table input{
border-radius:10px;
}

tr{
height:50px;
}

td{
padding-right:30px;
}

.btn1{position:relative;
 left:45%;
 top:270px;
 width:100px;
 height:40px;
 border:0px;
 background:#1b5ac2;
 outline:none;
 color:#ffffff;
 border-radius:10px;}

.btn2{position:relative;
 left:48%;
 top:270px;
 width:100px;
 height:40px;
 border:0px;
 background:#1b5ac2;
 outline:none;
 color:#ffffff;
 border-radius:10px;}

input{height:23px;}

select{
height:30px;}

.ab{border-radius:10px;}

a { text-decoration:none;
color:white;} 

section{
height:1350px;
}


footer{
height:200px;
width:100%;
background:#D6503E; 
}
.jbFixed {
position:fixed;
top:0px;
}